<%= render "layouts/errors", :object => @answer %>

<h1><%= @question.content %></h1>

<%= form_tag "/questions/#{@question.id}/answers" do |f| %>
  <%= label_tag "answer" %>
  <%= text_field_tag "answer[response]" %>
  <%= submit_tag %>
<% end %>

<% if @question.answers.any? %>
  <h4>Here are the answers/punchlines for this question?</h4>
  <ul>
    <% @question.answers.each do |answer| %>
    <li>
      <%= answer.response %>
      <% if answer.user.id === session[:user_id] || session[:is_admin] %>
        <%= link_to "Edit", edit_question_answer_path(@question, answer)%> |
        <%= link_to "Delete", question_answer_path(@question, answer),
                  :data => {:confirm => "Are you sure?",
                    :method => "delete"} %>
      <% end %>
    </li>
    <% end %>
  </ul>
<% end %>
